form {
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
}

.form-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.form-row input {
    padding: 5px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.form-group textarea {
    padding: 10px;
}

form button {
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
    font-weight: 700;
}